# AWS
boto3

# Google Cloud
google-cloud-storage
google-cloud-bigquery
google-cloud-pubsub
requests

# Azure
azure-identity
azure-mgmt-compute
azure-storage-blob
azure-servicebus
azure-cosmos

# MapReduce / Big Data
pyspark
mrjob
hadoop

# Data Analysis
pandas

# Web Frameworks
django
djangorestframework

# Messaging & Queues
kafka-python
pika

# Databases
sqlalchemy
